*{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content:center ;
    width: 100vw;
    height: 40px;
    padding-top: 25px;
}
a{ 
color: teal;
margin: 20px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: 700;
text-decoration: none;
margin-bottom: 10px;
font-size: 14px;

}
image{
    width: 100%;
}
img{
    width: 100%;
    margin: 40px;
    margin-top: 10px;
}
h4{
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    font-size: 12px;
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    margin-top: 20px;
    color:black ;
    text-align: center;
}
.content{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.btn1{
    margin-top: 20PX;
    width: 150px;
    padding: 13px;
    text-align: center;
    background-color: rgb(36, 126, 103);
    color: aliceblue;
    border-radius: 5px;
    border: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p.remark{
    text-align: right;
    margin-right: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;
}